<a href="https://colab.research.google.com/github/jatinkumar11954/Build-and-Secure-Networks-in-Google-Cloud-Challenge-Lab/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. List Different types of data structures in pandas.

Series — 1D  
    DataFrame — 2D  
    Panel — 3D

2. What is pandas dataframe? Create a empty dataframe.

    A DataFrame is a two-dimensional data structure composed of rows and columns

In [1]:

# import pandas library as pd
import pandas as pd
  
# create an Empty DataFrame object
df = pd.DataFrame()
  
print(df)

Empty DataFrame
Columns: []
Index: []

3. Explain number of ways to create pandas dataframe

    1. Csv or excel file: usings functions as such read_csv, read_excel

    2. Numpy arrays:
            import pandas as pd
            import numpy as np
            A = np.random.randint(10, size=(4,3))
            print(A)
            array([[9, 2, 0],        
                  [4, 3, 0],        
                  [2, 3, 1],        
                  [7, 1, 3]])
            df = pd.DataFrame(A)
            print(df)

    3. Dictionary:

            dict_a = {'col_a':[1,2,3,4],'col_b': [2,5,6,7],
                          'col_c'['a','b',}
            df = pd.DataFrame(dict_a)
            df

    4. List:
            lst_a = [['John', 23, 182, 'A'], ['Jane', 25, 179, 'A'], 
                    ['Mary',    21, 177, 'B']]
            df= pd.DataFrame(lst_a)
            df


Topic: Rename column and row names	
4. Create a dataframe having details of student and marks obtained in Maths, Chemistry, Physics. (for atleast 12 students.
	(hints: 1. All the index values or names should be unique 2. Ath the column names should be unique.
  
	1. print first five rows
	2. print last five rows
	3. print first 2 rows
	4. rename column student name to 'Student_Name' and explain what is inplace parameter.
	5. rename columns maths to 'English'
	6. rename index 6 as 100 (hint: use same function used for column renaming.
	7. rename column English to 'Maths' using axis parameter
	8. rename index 100 as 6 using axis parameter

In [16]:
import random

studentList=[]
for i in range(0,13):
  
  studentList.append( [chr(i+97),random.randrange(20,50),random.randrange(20,60),random.randrange(20,70) ] )

studentdf= pd.DataFrame(studentList,columns=['Name', 'Maths', 'Chemistry', 'Physics'])
print(studentdf)
print(studentdf.head(5))
print(studentdf.tail(5))
print(studentdf.head(2))
print(studentdf.head(2))

   Name  Maths  Chemistry  Physics
0     a     21         59       58
1     b     37         52       66
2     c     48         54       61
3     d     35         41       61
4     e     31         37       47
5     f     28         37       55
6     g     42         55       33
7     h     46         28       23
8     i     21         38       67
9     j     24         44       67
10    k     40         59       26
11    l     38         34       63
12    m     23         34       30